{% extends "base.html" %}

{% block title %}Flahoo!{% endblock %}

{% block content %}

<div class="processus">
	<h2>Processus</h2>
	<ol>
		<li>Lors de la soumission du formulaire, Flahoo! lance une recherche sur <a class="yahoo" href="http://www.yahoo.com/">Yahoo!</a> à l'aide des mots-clé fournis. <strong>Sur les 10 premiers résultat de recherche, Flahoo! en choisit 1</strong>.</li>
		<li>Flahoo! prend le texte descriptif de ce résultat et <strong>en extrait 3 mots différents</strong> (appelés <em>tags</em>).</li>
		<li>Flahoo! lance une recherche sur <a class="flickr" href="http://www.flickr.com/">Flick<span>r</span></a> pour chaque <em>tag</em> en classant chaque résultat <strong>à l'aide d'un moyen de classement choisi au hasard</strong>.</li>
		<li>Flahoo! affiche ensuite les photos trouvées.</li>
	</ol>
	<h2>Avertissements</h2>
	<ol>
		<li>Flahoo! n'est pas encore 100% stable. Certaines erreurs (notamment conçernant <em>Unicode</em>) peuvent survenir. Merci de les rapporter à <code><strong>mon prénom</strong>@exomel.com</code>.</li>
	</ol>
</div>

{% endblock %}
