{% autoescape off %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="fr">
<head>
    <title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="/public/css/reset.css" media="screen">
	<link rel="stylesheet" type="text/css" href="/public/css/screen.css" media="screen">
	
	<link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon">
	
</head>
<body>
	<div id="entete">
		<h1><a href="/">Flahoo<span>!</span></a></h1>
		<p>Un heureux mélange entre <a class="yahoo" href="http://yahoo.com/">Yahoo!</a> et <a class="flickr" href="http://www.flickr.com/">Flick<span>r</span></a>.</p>
	</div>
	<div id="wrap">
		<div class="inner">
			<form action="/" method="get" onsubmit="window.location = '/photos/'+document.getElementById('s').value; return false;">
			<div>
				<input type="text" name="s" id="s" value="{{ input_value }}">
				<p>↑ Entrez un mot dans la boîte ci-dessus et appuyez sur Entrée.</p>
			</div>
			</form>			
			<hr />			
		    {% block content %}{% endblock %}
		</div>
	</div>
	<div id="footer">
		<hr>
		<p>
			&copy; 2006-2008 Un projet créé par Rémi Prévost<br>
			Réalisé dans le cadre du cours Langage Multimédia III au <a href="http://www.cegep-ste-foy.qc.ca">Cégep de Ste-Foy</a> | Automne 2006<br>
			Ré-écrit à l'aide du framework <a href="http://www.djangoproject.com/">Django</a> | Été 2008<br>
			<a href="http://code.remiprevost.com/flahoo/">Code source disponible</a> sous <a href="http://code.remiprevost.com/flahoo/trunk/LICENSE">license Apache</a>.
		</p>
	</div>
</body>
</html>
{% endautoescape %}
