{% extends "base.html" %}

{% block title %}Flahoo! — Résultats pour "{{ input_value }}"{% endblock %}

{% block content %}



	<div class="contexte">
		<blockquote>{{mots|lower}}</blockquote>
		<cite><a href="{{source}}">{{source}}</a></cite>
	</div>

	{% if tags %}
	    {% for tag in tags %}
		<div class="tag">
		<h2><span>{{ forloop.counter }}.</span> <a href="{{tag.url}}">{{tag.tagr|lower}}</a> <span>(classées par {{tag.sort}})</span></h2>
			{% if tag.photos %}
		    <ul class="clearfix">
		    {% for photo in tag.photos %}
		        <li><a href="{{ photo.url }}"><img src="{{ photo.image }}" alt="" /></a></li>
		    {% endfor %}
		    </ul>
			{% else %}
			<p>Aucune photo n'a été trouvée pour ce tag.</p>
			{% endif %}
		</div>
	    {% endfor %}
	{% else %}
	    <p>No photos are available.</p>
	{% endif %}

{% endblock %}