{% extends "base.html" %}

{% block title %}Résultats Flahoo!{% endblock %}

{% block content %}

	<div class="contexte">
		<blockquote>{{mots|lower}}</blockquote>
		<cite><a href="{{source}}">{{source}}</a></cite>
	</div>

	{% if tags %}
	    {% for tag in tags %}
		<h2>{{tag.tag}}</h2>
		    <ul id="photos" class="clearfix">
		    {% for photo in tag.photos %}
		        <li><a href="{{ photo.url }}"><img src="{{ photo.image }}" alt="" /></a></li>
		    {% endfor %}
		    </ul>
	    {% endfor %}
	{% else %}
	    <p>No photos are available.</p>
	{% endif %}

{% endblock %}